.cd-nav-trigger {
    position: absolute;
    display: inline-block;
    top: 15px;
    right: 20px;
    height: 44px;
    width: 44px;
    z-index: 999999;
    overflow: hidden;
    white-space: nowrap
}

@media (max-width:991px) {
    .cd-nav-trigger {
        top: 10px;
        right: 15px
    }
}

.cd-nav-trigger i {
    font-size: 30px !important;
    position: absolute;
    left: 50%;
    top: 50%;
    bottom: auto;
    right: auto;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    -o-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    display: inline-block;
    color: #222;
    z-index: 9999999
}
